/API/bin/Debug/netcoreapp3.1/ja
/API/bin/Debug/netcoreapp3.1
/Client/obj/Debug/netcoreapp3.1
/Client/bin/Debug/netcoreapp3.1/pt-BR
/API/obj/Debug/netcoreapp3.1
/API/obj
/Client/bin/Debug/netcoreapp3.1
