@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutLatihan";
}
    <div class="container">
        <h1 class="mt-5 pt-3">@ViewData["Title"]</h1>

        <p m>Use this page to detail your site's privacy policy.</p>
    </div>


